@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Source+Code+Pro&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #202023;
  font-family: 'JetBrains Mono', monospace;
  color: #eee;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.link {
  @apply text-accent;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}
